<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="/css/circle.player.css" />
    <script type="text/javascript" src="/Scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.jplayer.min.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>