@{
    ViewBag.Title = "Index";
}

<div id="playerDiv" class="cp-jplayer"></div>
<div id="jp_container_1" class="cp-container">
    <ul class="cp-controls">
        <li><a href="javascript:;" class="jp-play cp-play" tabindex="1">play</a></li>
        <li><a href="javascript:;" id="pauseButton" class="cp-pause" tabindex="1">pause</a></li>
    </ul>
</div>

<br />
@Html.TextBox("audioAnswer")
<br />
<div id="errorLabel" style="display: none; color: red;">Введено неверное число!</div>
@Html.TextBox("trickyLabel", (string)@ViewBag.numberHash, new { style = "display: none;" })
<br />

<input type="button" id="checkButton" value="Проверить" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#playerDiv").jPlayer({
            ready: function () {
                $(this).jPlayer("setMedia", {
                    mp3: "@ViewBag.audioPath"
                });
            },
            swfPath: "/Scripts",
            supplied: "mp3",
            cssSelector: {
                pause: '#pauseButton'
            }
        });

        $('#pauseButton').click(function () {
            $('#playerDiv').jPlayer('stop');
        });

        $("#checkButton").click(function () {
            $.ajax({
                url: "/Home/Check",
                cache: false,
                type: "POST",
                data: {
                    answer: $("#audioAnswer").val(),
                    numberHash: $("#trickyLabel").val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        alert("Всё верно!");
                        $('#errorLabel').hide();
                    } else {
                        $('#errorLabel').show();
                    }
                },
                error: function () {
                    alert("Не удалось сохранить данные!");
                }
            });
        });
    });
</script>



